.projects-container {
    display: flex;
    gap: 20px;
}

.project-item {
    background-color: #ccc;
    padding: 5px;
    overflow: hidden;
}

.project-item img {
    height: 245px;
    width: 245px;
}
