.projects-container {
    gap: 20px;
    display: flex;
}

.project-item {
    width: 150px;
    height: 150px;
    padding: 5px;
    display: flex;
    overflow: hidden;
    align-items: center;
    border-radius: 20%;
    justify-content: center;
    background-color: #ccc;
}

.project-item img {
    width: 130px;
    height: 130px;
    border-radius: 10%;
}
