@import '../../colors.css';

.arrows {
    color: var(--grey-7);
    font-size: 1.5rem;
    padding-right: 0.5rem;
}

.arrows:hover {
    background-color: var(--grey-8);
}

.top-bar {
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    border: 1px solid var(--grey-4);
    display: flex;
    z-index: 9999;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

.search-bar {
    width: 30%;
    height: 70%;
    display: flex;
    border: 1px solid var(--grey-9);
    align-items: center;
    border-radius: 0.5rem;
    justify-content: center;
    background-color: var(--grey-10);
}

.search-bar-text {
    padding: 0 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
}

.search-icon {
    font-size: 1.25rem;
}
