@import '../../colors.css';

.home-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.name-header {
    color: var(--pink-1);
    padding: 1rem;
    font-size: 5rem;
}

.titles-header {
    font-size: 1.5rem;
}