@import '../../colors.css';

.arrow-down, .arrow-right {
    font-size: 20px;
}

.explorer-text {
    display: flex;
    padding: 0.75rem 1rem;
    font-size: 0.75rem;
    justify-content: left;
}

.green-circle {
    width: 7px; 
    height: 7px;
    display: flex; 
    align-self: center;
    margin-top: 2px;
    margin-left: 0.8rem;
    border-radius: 50%; 
    background-color:var(--green-1); 
}

.material-symbols-outlined {
    color: var(--white-2);
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.open-button {
    border: none;
    cursor: pointer;
    padding: 1rem 0;
    background-color: transparent;
}

.section-header {
    color: var(--green-1);
    display: flex;
    padding: 0.1rem 0.25rem;
    font-size: 0.75rem;
    font-weight: bold;
    align-items: center;
}

.section-header:hover {
    cursor: pointer;
    background-color: var(--grey-1);
}

.section-item {
    display: flex;
    padding: 0.1rem 1.25rem;
    font-size: 0.75rem;
    align-items: center;
}

.section-item:hover {
    cursor: pointer;
    background-color: var(--grey-3);
}

.sidebar {
    top: 41px;
    left: 0;
    width: 60px;
    color: var(--white-1);
    height: 100%;
    border: 1px solid var(--grey-4);
    z-index: 1000;    
    position: fixed;
    background-color: var(--grey-5);
}

.sidebar-expanded {
    top: 41px;
    left: -120px;
    width: 180px;
    height: 100%;
    border: 1px solid var(--grey-4);
    display: flex;
    z-index: 999;
    position: fixed;
    transition: left 0.3s ease;
    flex-direction: column;
    background-color: var(--grey-6);

}

.sidebar-expanded.open {
    left: 60px;
}
