#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content-container {
  left: 50px;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.content-container > * {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
