:root {
    /* Theme Colors */
    --background-color: #202020;

    /* Blues */
    --link-color: aqua;

    /* Whites */
    --white-1: #fff;
    --white-2: #f0f5fd;
    --text-color: #cecece;

    /* Greens */
    --green-1: #53956a;

    /* Greys */
    --grey-1: #373737;
    --grey-2: #333333;
    --grey-3: #37373e;
    --grey-4: #313131;
    --grey-5: #1d1d1d;
    --grey-6: #181818;
    --grey-7: #3c3c3c;
    --grey-8: #4b4b4b;
    --grey-9: #4b4b4b;
    --grey-10: #2b2b2b;

    /* Pinks */
    --pink-1: #ca7ebc;
}
