@import './colors.css';

body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    font-family: Consolas, 'Courier New', monospace;
    margin: 0;
    min-height: 100vh;
    min-width: 320px;
    place-items: center;
}
